*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: calc( 100% - 330px );
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.category-item img{
    width: 100%;
}
h2{
    padding-top: 23px;
    font-size: 18px;
}
.header{
    padding-top: 21.84px;
}
.icons ul{
    gap: 24px;
}
.menu{
    display: none;
}
.categories{
    padding-top: 80px;
}
.category-item{
    width: calc(( 100% - 90px ) / 4);
    text-align: center;
}
@media screen and (min-width:0px) and (max-width:1420px) {
    .container{
        width: calc( 100% - 180px );
    }
    .menu{
        display: flex;
        width: 30px;
    }
    .row ul{
        display: none;
    }
}
@media screen and (min-width:0px) and (max-width:1650px){
    .category-item{
        width: calc(( 100% - 36px ) / 2);
        padding-bottom: 50px;
    }
    h2{
        padding-top: 8px;
    }
}
@media screen and (min-width:0px) and (max-width:850px){
    .category-item{
        width: 100%;
    }
}
@media screen and (min-width:0px) and (max-width:680px) {
    .container{
        width: calc( 100% - 80px );
    }
    .categories{
    padding-top: 60px;
    }
    h2{
        font-size: 17px;
    }
}


